KaZaPy/TestKaZaPy/Service References/UserService/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ObjectClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ObjectClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="email" nillable="true" type="xs:string" />
      <xs:element name="firstName" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="lastName" nillable="true" type="xs:string" />
      <xs:element name="logged" type="xs:boolean" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element name="privilege" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>