KaZaPy/WebClient/Service References/AlbumService/AlbumService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ObjectClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ObjectClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Album">
    <xs:sequence>
      <xs:element name="creationDate" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="images" nillable="true" type="tns:ArrayOfImage" />
      <xs:element name="modificationDate" type="xs:dateTime" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="owner" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Album" nillable="true" type="tns:Album" />
  <xs:complexType name="ArrayOfImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="tns:Image" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImage" nillable="true" type="tns:ArrayOfImage" />
  <xs:complexType name="Image">
    <xs:sequence>
      <xs:element name="album" type="xs:int" />
      <xs:element name="blob" nillable="true" type="xs:base64Binary" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="tns:Image" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="email" nillable="true" type="xs:string" />
      <xs:element name="firstName" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="lastName" nillable="true" type="xs:string" />
      <xs:element name="logged" type="xs:boolean" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element name="privilege" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAlbum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Album" nillable="true" type="tns:Album" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbum" nillable="true" type="tns:ArrayOfAlbum" />
</xs:schema>